body{
    margin: 0%;
    background-color: #FFF8C7;
    color: #F799BD;
    font-family: "Exo", sans-serif;
    text-align: center;
}

h1{
 font-size: 5em;
}

h2{
    font-size: 3em;
}

a{
    text-decoration: none;
    color: #06C7E2;
}

fieldset{
    border: 3px solid #F799BD;
    border-radius: 15px;
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-top: 50px;    
}