body{
    margin: 0%;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
 font-size: 5em;
}

h2{
    font-size: 3em;
}

a{
    text-decoration: none;
    
}