body{
    margin: 0%;
    background-color: #FFF8C7;
    color: #F799BD;
    font-family: "Exo", sans-serif;
    text-align: center;
}

h1{
 font-size: 5em;
}

h2{
    font-size: 3em;
}

a{
    text-decoration: none;
    color: #06C7E2;
    
    
}
ul, li{
    list-style: none;
    font-weight: bolder;
    
}

